@charset "UTF-8";
/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* (Opcional) */
  hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-color1-opaque: #1f1f1f;
  --bg-color1: #1f1f1fc7;
  --bg-color2: #1c1c1c96;
  --light-red: #e42222;
  --orange: #fd7014;
  --dark-blue: #222831;
  --input-bg: #222831;
  --text-color-white: #fff;
  --text-color-light-gray: rgb(199, 199, 199);
  --cursor-color: rgba(255,255,255, .5);
  --box-shadow-color: #181818cd;
  --background-gradient: radial-gradient(circle, rgba(34,40,49,1) 37%,rgba(31,31,31,1) 81%);
  --background-orange-gradient: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
}

@font-face {
  font-family: Haettenschweiler;
  src: url(../fonts/HATTEN.TTF);
  font-display: swap;
}
* {
  font-family: "Poppins";
}

html {
  background-color: var(--bg-color1-opaque);
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  cursor: none;
  scroll-padding: 15vh;
}

body {
  max-width: 1920px;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0 auto;
}

a {
  text-decoration: none;
  cursor: none;
}

.change__theme__bg {
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: var(--orange);
  width: 100vw;
  height: 100vh;
  z-index: 3;
  transition: all ease-in 0.5s;
}
.change__theme__bg__hide {
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: var(--orange);
  width: 0px;
  height: 0px;
  border-radius: 100%;
  z-index: 3;
  border: 3px solid #d85803;
  opacity: 0;
  transition: all ease-in 0.5s;
}
.change__theme__bg__container {
  width: 50%;
  height: 50vh;
  margin: 33.33vh auto;
  text-align: center;
}
.change__theme__bg__container span {
  top: 25%;
  left: 0%;
  width: 100%;
  height: 100%;
  font-size: 10rem;
  opacity: 0;
  position: absolute;
  color: #fff;
}

.theme-icon-out {
  animation: ThemeIconOut 1s forwards;
}

.theme-icon-in {
  animation: ThemeIconIn 1s forwards;
}

@keyframes ThemeIconOut {
  0% {
    top: 25%;
    left: 0%;
    position: absolute;
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    top: 25%;
    left: 0%;
    position: absolute;
    transform: rotate(180deg);
    opacity: 0;
  }
}
@keyframes ThemeIconIn {
  0% {
    transform: rotate(-180deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
#cursor {
  height: 3rem;
  width: 3rem;
  background-color: var(--cursor-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
  border-radius: 50%;
  border: 2px solid #fff;
  mix-blend-mode: overlay;
}

.mini {
  background-color: var(--cursor-color);
  transform: scale(0.5);
  transition: background-color 0.3s linear, transform 0.3s linear;
}

#particles-js {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 0;
  pointer-events: none;
}

.nav {
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 60px;
  background-color: var(--bg-color1);
  padding: 0rem;
  display: flex;
  z-index: 1;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.3725490196);
  position: fixed;
}
.nav__col-1 {
  float: left;
  width: 7%;
}
.nav__col-1logo {
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 4rem;
  height: 4rem;
  margin-left: 0.5rem;
  transition: all ease-in 0.2s;
}
.nav__col-1__logo:hover {
  transform: scale(1.1);
  filter: brightness(1.5) drop-shadow(0px 0px 5px rgb(249, 105, 105));
  transition: all ease-in 0.2s;
}
.nav__col-2 {
  float: right;
  width: 80%;
}
.nav__col-2__phone_menu_icon {
  display: none;
}
.nav__col-2__phone_menu_icon:hover {
  color: rgb(255, 161, 67);
}
.nav__col-2__theme_menu_icon {
  display: block;
  text-decoration: none;
  color: var(--orange);
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 0.2rem;
}
.nav__col-2__theme_menu_icon:hover {
  color: rgb(255, 161, 67);
}
.nav__col-2__menu {
  color: #000;
  padding: 0.2rem;
  display: block;
}
.nav__col-2__menu ul {
  list-style: none;
}
.nav__col-2__menu ul li {
  float: left;
  padding: 1rem;
  margin-left: 0.2rem;
}
.nav__col-2__menu ul li .menu_line {
  width: 80%;
  min-width: 3.5rem;
  color: rgb(255, 161, 67);
  margin: auto;
  margin-top: 0.2rem;
}
.nav__col-2__menu ul li a {
  text-decoration: none;
  color: var(--orange);
  font-weight: bold;
}
.nav__col-2__menu ul li a:hover {
  color: rgb(255, 161, 67);
}

.aboutMe {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 0 25rem 0;
}
.aboutMe__background {
  /*
  background-image: url("../images/background.svg");
  background-size: cover;
  background-repeat: no-repeat;*/
  background: var(--background-gradient);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.aboutMe__column1 {
  width: 40%;
}
.aboutMe__column1__img {
  width: 90%;
  max-width: 700px;
  height: 100%;
  min-height: 500px;
  margin: 0 auto;
  background-image: url("../images/me.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
.aboutMe__column2 {
  width: 40%;
  display: inline-block;
  max-height: 70vh;
  margin: auto;
}
.aboutMe__column2__h1 {
  color: var(--text-color-white);
  font-size: 4rem;
  font-family: "Haettenschweiler";
  font-weight: 100;
  letter-spacing: 0.05rem;
  text-align: center;
}
.aboutMe__column2__h1__h2 {
  color: var(--text-color-light-gray);
  font-size: 1.5rem;
  text-align: center;
}
.aboutMe__column2__h1__h2__span {
  color: var(--light-red);
  font-weight: 700;
  letter-spacing: 0.05rem;
}
.aboutMe__column2__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  gap: 1rem;
  margin: 3rem 0 0 0;
}
.aboutMe__column2__buttons__button--linkedin__a {
  background: #1c52a1;
  box-shadow: 0px 0px 5px 5px var(--box-shadow-color);
  border-radius: 0.5rem;
  backdrop-filter: blur(5px);
  margin: "0";
  color: var(--text-color-white);
  padding: 0.5rem 1.5rem;
  box-sizing: border-box;
  display: inline;
  border: none;
  transition: 0.5s all ease;
}
.aboutMe__column2__buttons__button--linkedin__a__text {
  padding: 0.2rem 0.1rem 0 0;
  vertical-align: middle;
  display: inline;
}
.aboutMe__column2__buttons__button--linkedin__a__icon {
  color: var(--text-color-white);
  background-color: #0A66C2;
  border-radius: 0.2rem;
  padding: 0.2rem 0.4rem;
  display: inline;
}
.aboutMe__column2__buttons__button--linkedin__a:hover {
  cursor: none;
  background-color: #4676be;
  transition: 0.5s all ease;
}
.aboutMe__column2__buttons__button--cv__a {
  color: var(--text-color-white);
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid #fff;
  box-sizing: border-box;
  transition: 0.5s all ease;
  background-color: transparent;
}
.aboutMe__column2__buttons__button--cv__a__text {
  float: left;
  padding: 0.2rem 0.1rem 0 0;
  vertical-align: middle;
}
.aboutMe__column2__buttons__button--cv__a__icon {
  background-color: #fff;
  color: #000;
  border-radius: 0.2rem;
  padding: 0.2rem 0.2rem;
  margin: -0.2rem 0 0 0.3rem;
  float: right;
}
.aboutMe__column2__buttons__button--cv__a:hover {
  cursor: none;
  transition: 0.5s all ease;
  background-color: rgb(172, 172, 172);
  color: #000;
}
.aboutMe__column2__description {
  background: var(--bg-color2);
  box-shadow: 0px 0px 5px 5px var(--box-shadow-color);
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  margin: auto;
  color: var(--text-color-white);
  padding: 2rem 2rem;
  width: 80%;
  display: block;
  margin: 1rem auto;
  font-size: 1.1rem;
}
.aboutMe__column2__socialMedia {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: space-between;
  gap: 1rem;
  margin: 1rem 5rem 10rem 0;
}
.aboutMe__column2__socialMedia--linkedin {
  width: 3rem;
  transition: 0.5s all ease;
}
.aboutMe__column2__socialMedia--github {
  width: 2.5rem;
  transition: 0.5s all ease;
}
.aboutMe__column2__socialMedia--linkedin:hover, .aboutMe__column2__socialMedia--github:hover {
  transition: 0.5s all ease;
  transform: scale(1.2);
  filter: drop-shadow(0px 0px 5px #fff);
}

.projects {
  margin-top: 10em;
}
.projects__h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--orange);
  margin-top: 1rem;
}
.projects__h3 {
  text-align: center;
  font-size: 1rem;
  color: var(--text-color-white);
  margin-bottom: 3rem;
}
.projects__container {
  background: var(--bg-color2);
  box-shadow: 0px 0px 5px 5px var(--box-shadow-color);
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: normal;
  align-content: normal;
  padding: 2rem 1rem;
}
.projects__container__article {
  background: var(--dark-blue);
  box-shadow: 0px 0px 5px 5px var(--box-shadow-color);
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  margin: auto;
  width: 20%;
  min-width: 240px;
  max-width: 300px;
  max-height: 70%;
  border-bottom: 5px solid var(--orange);
}
.projects__container__article__top {
  position: absolute;
  top: 0px;
  width: 50%;
  margin: 0 25%;
  height: 0.5em;
  background-image: var(--background-orange-gradient);
  border-radius: 0 0 0.4em 0.4em;
  box-shadow: 0px 0px 4px 2px var(--box-shadow-color);
}
.projects__container__article__img {
  width: 90%;
  height: 150px;
  margin: 5% 5%;
  border-radius: 0.5rem;
  background-image: url(../images/projectPlaceholder.jpg);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.projects__container__article__title {
  margin: 0 0 0.5rem 0;
  color: var(--orange);
  font-size: 1.2rem;
  text-align: center;
}
.projects__container__article__text {
  margin: 0 0 0 1.5rem;
  color: var(--text-color-white);
  font-size: 0.8rem;
}
.projects__container__article__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: normal;
  align-content: normal;
  padding: 1rem;
  /*
  &__a--web,
  &__a--code {
      @include button-orange();
      padding: .2rem;
      font-weight: 600;
      padding: 0.3rem 1rem;
      transition: .5s all ease;
      width: 40%;
      font-size: .8rem;
      text-align: center;
      vertical-align: middle;
  }*/
}
.projects__container__article__buttons__a--web {
  border-radius: 0.5rem;
  border: none;
  background-size: 200% auto;
  background-image: var(--background-orange-gradient);
  color: #000;
  padding: 0.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  transition: 0.5s all ease;
  width: 80%;
  font-size: 0.8rem;
  text-align: center;
  vertical-align: middle;
}
.projects__container__article__buttons__a--web:hover, .projects__container__article__buttons__a--code:hover {
  filter: brightness(1.5);
  background-position: right center;
  cursor: none;
  color: #2c2c2c;
  transition: 0.5s all ease;
}

.studies {
  margin-top: 10vh;
}
.studies__h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--orange);
  margin-top: 1rem;
}
.studies__h3 {
  text-align: center;
  font-size: 1rem;
  color: var(--text-color-white);
  margin-bottom: 3rem;
}
.studies__container {
  background: var(--bg-color2);
  box-shadow: 0px 0px 5px 5px var(--box-shadow-color);
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 30%);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-row-gap: 5rem;
  width: 90%;
  background-color: var(--bg-color2);
  padding: 2rem;
}
.studies__container__column1 {
  grid-area: 1/2/2/3;
}
.studies__container__column1__h4, .studies__container__column1__h6--date, .studies__container__column1__h5, .studies__container__column1__h6 {
  color: var(--text-color-white);
  margin: 0.2rem;
}
.studies__container__column2 {
  grid-area: 2/1/3/2;
}
.studies__container__column3 {
  grid-area: 2/2/3/3;
  margin: 0 auto;
  background-image: url("../images/studies_circle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 10em;
}
.studies__container__column4 {
  grid-area: 2/3/3/4;
}
.studies__container__column1, .studies__container__column2, .studies__container__column4 {
  padding: 0.2rem;
  margin: 0;
  text-align: left;
}
.studies__container__column1 h6, .studies__container__column2 h6, .studies__container__column4 h6 {
  color: var(--text-color-light-gray);
  font-size: 0.7rem;
}

.contact {
  margin-top: 10rem;
  width: 100%;
}
.contact__h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--orange);
  margin-top: 1rem;
}
.contact__h3 {
  text-align: center;
  font-size: 1rem;
  color: var(--text-color-white);
  margin-bottom: 3rem;
}
.contact__container {
  background: var(--bg-color2);
  box-shadow: 0px 0px 5px 5px var(--box-shadow-color);
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
  align-items: normal;
  align-content: normal;
  width: 90%;
  margin: 0 auto;
}
.contact__container__column1 {
  width: 40%;
}
.contact__container__column1__icon {
  fill: var(--input-bg);
  width: 60%;
  height: auto;
  margin: 0 auto;
  display: flex;
}
.contact__container__column1__h4 {
  color: var(--text-color-white);
  text-align: center;
}
.contact__container__column2 {
  width: 45%;
}
.contact__container__column2__form {
  width: 70%;
  margin: 2rem auto;
  background-color: var(--bg-color2);
}
.contact__container__column2__form__name, .contact__container__column2__form__email, .contact__container__column2__form__message, .contact__container__column2__form__send {
  margin: 0 auto;
  padding: 0.5rem;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: normal;
  align-content: normal;
}
.contact__container__column2__form__name__label, .contact__container__column2__form__email__label, .contact__container__column2__form__message__label, .contact__container__column2__form__send__label {
  padding: 0 1rem;
  color: var(--orange);
  text-align: center;
  width: 100%;
  cursor: none;
}
.contact__container__column2__form__name__input, .contact__container__column2__form__name__textarea, .contact__container__column2__form__email__input, .contact__container__column2__form__email__textarea, .contact__container__column2__form__message__input, .contact__container__column2__form__message__textarea, .contact__container__column2__form__send__input, .contact__container__column2__form__send__textarea {
  padding: 0.5rem 1rem;
  color: var(--orange);
  background-color: var(--input-bg);
  border: none;
  border-radius: 0.5rem;
  width: 50%;
  resize: none;
  cursor: none;
}
.contact__container__column2__form__name__button, .contact__container__column2__form__email__button, .contact__container__column2__form__message__button, .contact__container__column2__form__send__button {
  margin: 2rem auto;
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  border: none;
  background-size: 200% auto;
  background-image: var(--background-orange-gradient);
  color: #000;
  cursor: none;
  transition: all 0.5s ease;
}
.contact__container__column2__form__name__button:hover, .contact__container__column2__form__email__button:hover, .contact__container__column2__form__message__button:hover, .contact__container__column2__form__send__button:hover {
  filter: brightness(1.5);
  cursor: none;
  transition: all 0.5s ease;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  gap: 7rem;
  padding: 2rem 0;
  z-index: 2;
}
.footer__social__nav {
  list-style-type: none;
}
.footer__social__nav__item {
  float: left;
}
.footer__social__nav__item__a {
  color: var(--text-color-white);
  padding: 0.5rem;
  transition: all 0.5s ease;
}
.footer__social__nav__item__a:hover {
  color: var(--orange);
  transition: all 0.5s ease;
}
.footer__copyright {
  color: var(--text-color-white);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fd934c;
}

@media (max-width: 800px) {
  .change__theme__bg {
    width: 100vw;
    height: 100vh;
  }
  .nav {
    flex-direction: column;
    width: 100%;
    min-height: 60px;
  }
  .nav__col-1 {
    float: none;
    width: 100%;
  }
  .nav__col-1logo {
    margin: auto;
  }
  .nav__col-2 {
    float: none;
    width: 100%;
    text-align: center;
  }
  .nav__col-2__phone_menu_icon {
    display: block;
    text-decoration: none;
    color: var(--orange);
    font-size: 2rem;
    position: absolute;
    right: 4rem;
    top: 0.2rem;
  }
  .nav__col-2__menu {
    width: 100%;
    display: none;
  }
  .nav__col-2__menu ul > li {
    width: 100%;
  }
  .nav__col-2__menu ul > li__menu_line {
    width: 30%;
    min-width: 5rem;
    color: var(--orange);
    margin: auto;
    margin-top: 0.2rem;
  }
  .aboutMe {
    flex-direction: column;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    background-position: center;
  }
  .aboutMe__column1 {
    width: 100%;
    height: 50%;
    max-height: 400px;
  }
  .aboutMe__column2 {
    width: 100%;
  }
  .aboutMe__column2__h1 {
    font-size: 3rem;
    margin: 10%;
  }
  .aboutMe__column2__h2 {
    font-size: 2rem;
    margin: 5%;
  }
  .aboutMe__column2__buttons {
    margin: 1rem 0 0 0;
  }
  .aboutMe__column2__description {
    padding: 2rem 2rem;
    margin: 2rem auto;
  }
  .studies__h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--orange);
    margin-top: 1rem;
  }
  .studies__h3 {
    text-align: center;
    font-size: 1rem;
    color: var(--text-color-white);
    margin-bottom: 3rem;
  }
  .studies__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 2rem;
    padding-bottom: 10rem;
  }
  .studies__container__column > hr {
    margin: 3em;
    border: 3px solid var(--orange);
    border-radius: 0.2em;
    display: block;
  }
  .studies__container__column1 {
    grid-area: 1/1/2/2;
  }
  .studies__container__column2 {
    grid-area: 2/1/3/2;
  }
  .studies__container__column3 {
    display: none;
  }
  .studies__container__column4 {
    grid-area: 3/1/4/2;
  }
  .footer {
    gap: 1rem;
  }
  .footer__social__a {
    color: var(--text-color-white);
    padding: 0.5rem;
    display: block;
  }
  .contact {
    width: 100%;
  }
  .contact__h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--orange);
    margin-top: 1rem;
  }
  .contact__h3 {
    text-align: center;
    font-size: 1rem;
    color: var(--text-color-white);
    margin-bottom: 3rem;
  }
  .contact__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
    align-items: normal;
    align-content: normal;
    width: 85%;
    background-color: var(--bg-color2);
    margin: 0 auto;
    border-radius: 1rem;
  }
  .contact__container__column1, .contact__container__column2 {
    width: 100%;
  }
  .contact__container__column1__icon {
    width: 40%;
  }
  .contact__container__column2__form {
    width: 90%;
  }
  .contact__container__column2__form__name__input, .contact__container__column2__form__name__textarea, .contact__container__column2__form__email__input, .contact__container__column2__form__email__textarea, .contact__container__column2__form__message__input, .contact__container__column2__form__message__textarea, .contact__container__column2__form__send__input, .contact__container__column2__form__send__textarea {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
