        @use '_reset';
        //Definicion de colores
         :root {
            --bg-color1-opaque: #1f1f1f;
            --bg-color1: #1f1f1fdc;
            --bg-color2: #1c1c1cdd;
            --light-red: #e42222;
            --orange: #fd7014;
            --dark-blue: #222831;
            --text-color-white: #fff;
            --text-color-light-gray: rgb(199, 199, 199);
        }
        //Definicion de mixins que se repetiran
        //Mixin de los Títulos de las secciones como "PROYECTOS" y  "ESTUDIOS"
        @mixin title() {
            text-align: center;
            font-size: 2em;
            font-weight: bold;
            color: var(--orange);
            margin-top: 1em;
        }
        
        //Mixin de los Subtítulos de las secciones como "PROYECTOS" y  "ESTUDIOS"
        @mixin subtitle() {
            text-align: center;
            font-size: 1em;
            color: var(--text-color-white);
            margin-bottom: 1em;
        }

        //Mixin de los paneles que conforman las secciones
        @mixin panel($color, $radius, $margin) {
            background: $color;
            box-shadow:  0px 0px 5px 5px #181818cd;
            border-radius: $radius;
            backdrop-filter: blur(5px);
            margin: $margin;
        }

        @mixin button-orange() {
            border-radius: .5em;
            border:none;
            background-color: var(--orange);
            color: #000;
        }
        
        //Fuentes de letras
        
        @font-face {
            font-family: Haettenschweiler;
            src: url(../fonts/HATTEN.TTF);
            font-display: swap; 
        }

        * {
            font-family: "Poppins";
        }

        //Definición de color de la web
        html {
            background-color: var(--bg-color1-opaque);
            width:100%;
            overflow-x: hidden;
            box-sizing: border-box;
            cursor:none;
        }
        
        body {
            box-sizing: border-box;
            overflow-x: hidden;
            margin: 0 auto;
        }

        a {
            text-decoration: none;
        }


        #cursor{
            height:3em;
            width:3em;
            background-color: rgba(255,255,255, .5);
            position:fixed;
            top:0;
            left:0;
            z-index:3;
            pointer-events:none;
            border-radius:50%;
            border:2px solid #fff;
            mix-blend-mode: overlay;
        }
        .mini {
                background-color: rgba(31, 31, 31, 0.8);
                transform:scale(0.5);
                transition: background-color .3s linear, transform .3s linear;
            }

        .nav {
            top: 0px;
            left: 0px;
            width: 100%;
            min-height: 60px;
            background-color: var(--bg-color1);
            padding: 0em;
            display: flex;
            z-index: 1;
            box-shadow: 0px 0px 4px 4px #0000005f;
            &__col-1 {
                float: left;
                width: 7%;
                &logo {
                    background-image: url("../images/logo.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 4em;
                    height: 4em;
                    margin-left: 0.5em;
                    transition: all ease-in 0.2s;
                    }
                    &__logo:hover {
                    transform: scale(1.1);
                    filter: brightness(1.5) drop-shadow(0px 0px 5px rgb(249, 105, 105));
                    transition: all ease-in 0.2s;
                    }
                }
                &__col-2 {
                float: right;
                width: 80%;
                &__phone_menu_icon {
                    display: none;
                    }
                &__phone_menu_icon:hover {
                    color: rgb(255, 161, 67);
                }
                &__theme_menu_icon {
                    display: block;
                    text-decoration: none;
                    color: var(--orange);
                    font-size: 2em;
                    position: absolute;
                    right: 1em;
                    top: 0.2em;
                }
                &__theme_menu_icon:hover {
                    color: rgb(255, 161, 67);
                    }
                &__menu {
                    color: #000;
                    padding: 0.2em;
                    display: block;
                    & ul {
                        list-style: none;
                        & li {
                            float: left;
                            padding: 1em;
                            margin-left: 0.2em;
                            & .menu_line {
                                width: 80%;
                                min-width: 3.5em;
                                color: rgb(255, 161, 67);
                                margin: auto;
                                margin-top: 0.2em;
                            }
                            & a {
                                text-decoration: none;
                                color: var(--orange);
                                font-weight: bold;
                            }
                            & a:hover {
                                color: rgb(255, 161, 67);
                            }
                        }
                        }
                    }
                }
        }


        
        //Vista para Ordenadores
        //Seccion de About Me
        .aboutMe {
            width: 100%;
            min-height: 100vh;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin: 0 0 10em 0;
            &__background{
                background-image: url("../images/background.svg");
                background-size: cover;
                background-repeat: no-repeat;
                position: fixed;
                top:0px;
                left:0px;
                width:100%;
                height:100vh;
                z-index: -1;

            }
            &__column1 {
                width: 50%;
                &__img {
                    width: 70%;
                    max-width: 500px;
                    height: 100%;
                    min-height: 500px;
                    margin: 0 auto;
                    background-image: url("../images/me.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            &__column2 {
                width: 50%;
                display: inline-block;
                max-height: 70vh;
                margin: auto;
                &__h1 {
                    color: var(--text-color-white);
                    margin: .2em 0 0 2em;
                    font-size: 4em;
                    font-family: "Haettenschweiler";
                    font-weight: 100;
                    letter-spacing: .05em;
                }
                &__h2 {
                    color: var(--text-color-light-gray);
                    font-size: 1.5em;
                    font-family: "Haettenschweiler";
                    font-weight: 100;
                    letter-spacing: .05em;
                    display: inline;
                    margin: 0 0 0 30%;
                    &__span {
                        color: var(--light-red);
                        font-size: 1em;
                        font-weight: 700;
                        letter-spacing: .05em;
                    }
                }
                &__buttons {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;
                    align-content: space-between;
                    gap: 1em;
                    margin: 3em 0 0 0;
                    &__button--linkedin__a {
                        @include panel(#1c52a1, .5em, "0");
                        color: var(--text-color-white);
                        padding: .5em 1.5em;
                        box-sizing: border-box;
                        display: inline;
                        border: none;
                        transition: .5s all ease;
                        &__text {
                            padding: .2em .1em 0 0;
                            vertical-align: middle;
                            display: inline;
                        }
                        &__icon {
                            color: var(--text-color-white);
                            background-color: #0A66C2;
                            border-radius: .2em;
                            padding: 0.2em 0.4em;
                            display: inline;
                        }
                    }
                    &__button--linkedin__a:hover {
                        cursor: none;
                        background-color: #4676be;
                        transition: .5s all ease;
                    }
                    &__button--cv__a {
                        color: var(--text-color-white);
                        padding: .5em 1.5em;
                        border-radius: .5em;
                        border: 2px solid #fff;
                        box-sizing: border-box;
                        transition: .5s all ease;
                        background-color: transparent;
                        &__text {
                            float: left;
                            padding: .2em .1em 0 0;
                            vertical-align: middle;
                        }
                        &__icon {
                            background-color: #fff;
                            color: #000;
                            border-radius: .2em;
                            padding: 0.2em 0.2em;
                            margin: -.2em 0 0 .3em;
                            float: right;
                        }
                    }
                    &__button--cv__a:hover {
                        cursor: none;
                        transition: .5s all ease;
                        background-color: rgb(172, 172, 172);
                        color: #000;
                    }
                }
                &__description {
                    @include panel(var(--bg-color2), 1em, auto);
                    color: var(--text-color-white);
                    padding: 2em 2em;
                    width: 80%;
                    display: block;
                    margin: 1em auto;
                    font-size: 1.1em;
                }
                &__socialMedia {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-end;
                    align-items: center;
                    align-content: space-between;
                    gap: 1em;
                    margin: 1em 5em 10em 0;
                    &--linkedin {
                        width: 3em;
                        transition: .5s all ease;
                    }
                    &--github {
                        width: 2.5em;
                        transition: .5s all ease;
                    }
                    &--linkedin:hover,
                    &--github:hover {
                        transition: .5s all ease;
                        transform: scale(1.2);
                        filter: drop-shadow(0px 0px 5px #fff);
                    }
                }
            }
        }
        
        //Seccion de About Proyectos
        .projects {
            &__h2 {
                @include title();
            }
            &__h3 {
                @include subtitle();
            }
            &__container {
                @include panel(var(--bg-color2), 1em, auto);
                width: 90%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: .5em;
                justify-content: center;
                align-items: normal;
                align-content: normal;
                padding: 2em 1em;
                &__article {
                    @include panel(var(--dark-blue), 1em, auto);
                    width: 20%;
                    min-width: 240px;
                    max-height: 70%;
                    &__img {
                        width: 90%;
                        height: 150px;
                        margin: 7% 5%;
                        border-radius: 1em;
                        background-image: url(../images/projectPlaceholder.jpg);
                        background-size: cover;
                        background-position: 0 0;
                        background-repeat: no-repeat;
                    }
                    &__title {
                        margin: 0 0 .5em 0;
                        color: var(--orange);
                        font-size: 1.2em;
                        text-align: center;
                    }
                    &__text {
                        margin: 0 0 0 1.5em;
                        color: var(--text-color-white);
                        font-size: .8em;
                    }
                    &__buttons {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: .5em;
                        justify-content: center;
                        align-items: normal;
                        align-content: normal;
                        padding: 1em;
                        &__a--web,
                        &__a--code {
                            @include button-orange();
                            padding: .2em;
                            font-weight: 600;
                            padding: 0.3em 1em;
                            transition: .5s all ease;
                            width: 40%;
                            font-size: .8em;
                            text-align: center;
                            vertical-align: middle;
                        }
                        &__a--web:hover,
                        &__a--code:hover {
                            background-color: rgb(156, 156, 156);
                            cursor: none;
                            transition: .5s all ease;
                        }
                    }
                }
            }
        }
        
        //STUDIES
        .studies {
            margin-top: 10em;
            &__h2 {
                @include title();
            }
            &__h3 {
                @include subtitle();
            }
            &__container {
                @include panel(var(--bg-color2), 1em, auto);
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 30%);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                grid-row-gap: 5em;
                width: 90%;
                background-color: var(--bg-color2);
                padding: 2em;
                &__column1 {
                    grid-area: 1 / 2 / 2 / 3;
                    &__h4, &__h6--date, &__h5, &__h6{
                        color: var(--text-color-white);
                        margin:.2em;
                    }
                }
                &__column2 {
                    grid-area: 2 / 1 / 3 / 2;
                }
                &__column3 {
                    grid-area: 2 / 2 / 3 / 3;
                    margin: 0 auto;
                    background-image: url("../images/studies_circle.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 100%;
                }
                &__column4 {
                    grid-area: 2 / 3 / 3 / 4;
                }
                &__column1,
                &__column2,
                &__column4 {
                    padding: .2em;
                    margin: 0;
                    text-align: left;
                }
            }
        }
        
        //Contacto
        .contact{
            margin-top: 10em;
            width:100%;
            &__h2 {
                @include title();
            }
            &__h3 {
                @include subtitle();
            }
            &__container{
                @include panel(var(--bg-color2), 1em, auto);
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 2.5em;
                justify-content: center;
                align-items: normal;
                align-content: normal;
                width: 90%;
                margin: 0 auto;
                &__column1{
                    width:40%;
                    &__icon{
                        fill: var(--dark-blue);
                        width:80%;
                        height:auto;
                        margin:0 auto;
                        display: flex;
                    }
                    &__h4{
                        color: var(--text-color-white);
                        text-align: center;
                    }
                }
                &__column2{
                    width:45%;
                    &__form{
                        width:70%;
                        margin:2em auto;
                        background-color: var(--bg-color2);
                        &__name, &__email, &__message, &__send{
                            margin:0 auto;
                            padding:.5em;
                            border:none;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            gap: 1em;
                            justify-content: center;
                            align-items: normal;
                            align-content: normal;
                            &__label{
                                padding: 0 1em;
                                color:var(--orange);
                                text-align: center;
                                width: 100%;
                                cursor: none;
                            }
                            &__input, &__textarea{
                                padding: .5em 1em;
                                color:var(--orange);
                                background-color: var(--dark-blue);
                                border:none;
                                border-radius: .5em;
                                width:50%;
                                resize: none;
                                cursor:none;
                            }
                            &__button{
                                margin:2em auto;
                                padding: 1em 2.5em;
                                @include button-orange();
                                cursor:none;
                                transition: all .5s ease;
                            }
                            &__button:hover {
                                filter: brightness(1.5);
                                cursor:none;
                                transition: all .5s ease;
                            }
                        }
                    }
                }
            }
        }

        //Footer
        .footer {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: space-between;
            gap: 7em;
            padding: 2em 0;
            &__social {
                &__nav{
                    list-style-type: none;
                    &__item{
                        float: left;
                        &__a {
                            color: var(--text-color-white);
                            padding: .5em;
                            transition: all .5s ease;
                        }
                        &__a:hover {
                            color: var(--orange);
                            transition: all .5s ease;
                        }
                    }
                }
            }
            &__copyright {
                color: var(--text-color-white);
            }
        }

        ::-webkit-scrollbar {
            width: .5em;
          }
          
          /* Track */
          ::-webkit-scrollbar-track {
            border-radius: 10px;
          }
           
          /* Handle */
          ::-webkit-scrollbar-thumb {
            background: var(--orange); 
            border-radius: 10px;
          }
          
          /* Handle on hover */
          ::-webkit-scrollbar-thumb:hover {
            background: #fd934c; 
          }

        
        //Vista para Telefonos
        @media (max-width: 800px) {
            //Cursor
            // #cursor{
            //     display: none;
            // }
            .nav {
                flex-direction: column;
                width: 100%;
                min-height: 60px;
                &__col-1 {
                    float: none;
                    width: 100%;
                    &logo {
                        margin: auto;
                    }
                }
                &__col-2 {
                    float: none;
                    width: 100%;
                    text-align: center;
                    &__phone_menu_icon {
                        display: block;
                        text-decoration: none;
                        color: var(--orange);
                        font-size: 2em;
                        position: absolute;
                        right: 2em;
                        top: 0.2em;
                    }
                    &__menu {
                        width: 100%;
                        display: none;
                        & ul > li {
                            width: 100%;
                            &__menu_line {
                                width: 30%;
                                min-width: 5em;
                                color: var(--orange);
                                margin: auto;
                                margin-top: 0.2em;
                            }
                        }
                      } 
                }
            }
              
            //AboutMe
            .aboutMe {
                flex-direction: column;
                justify-content: normal;
                align-items: normal;
                align-content: normal;
                background-position: center;
                &__column1 {
                    width: 100%;
                    height: 50%;
                    max-height: 400px;
                }
                &__column2 {
                    width: 100%;
                    &__h1 {
                        font-size: 3em;
                        margin: 10%;
                    }
                    &__h2 {
                        font-size: 2em;
                        margin: 5%;
                    }
                    &__buttons {
                        margin: 1em 0 0 0;
                    }
                    &__description {
                        padding: 2em 2em;
                        margin: 2em auto;
                    }
                }
            }
            //STUDIES
            .studies {
                &__h2 {
                    @include title();
                }
                &__h3 {
                    @include subtitle();
                }
                &__container {
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(3, 1fr);
                    grid-row-gap:0em;
                    padding-bottom:10em;
                    &__column1 {
                        grid-area: 1 / 1 / 2 / 2;
                    }
                    &__column2 {
                        grid-area: 2 / 1 / 3 / 2;
                    }
                    &__column3 {
                        display: none;
                    }
                    &__column4 {
                        grid-area: 3 / 1 / 4 / 2;
                    }
                }
            }
            //Footer
            .footer {
                gap: 1em;
                &__social {
                    &__a {
                        color: var(--text-color-white);
                        padding: .5em;
                        display: block;
                    }
                }
            }
            //Contacto
        .contact{
            width:100%;
            &__h2 {
                @include title();
            }
            &__h3 {
                @include subtitle();
            }
            &__container{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 2.5em;
                justify-content: center;
                align-items: normal;
                align-content: normal;
                width: 85%;
                background-color: var(--bg-color2);
                margin: 0 auto;
                border-radius: 1em;
                &__column1, &__column2 {
                    width:100%;
                }
                &__column1 {
                    &__icon{
                        width:40%;
                    }
                }
                &__column2{
                    &__form{
                        width:90%;
                        &__name, &__email, &__message, &__send{
                        &__input, &__textarea{
                            width:90%;
                        }
                    }
                }
            }
            }
        }
        }