@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* (Opcional) */
  hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg-color1: #1f1f1f;
  --bg-color2: #1c1c1c;
  --light-red: #bc3e3e;
  --orange: #fd7014;
  --dark-blue: #222831;
}

a:-webkit-any-link {
  text-decoration: none;
  cursor: none;
}

@font-face {
  font-family: Haettenschweiler;
  src: url(../fonts/HATTEN.TTF);
}
html {
  background-color: var(--bg-color1);
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  cursor: none;
}

body {
  box-sizing: border-box;
  width: 90%;
  overflow-x: hidden;
  margin: 0 auto;
}

#cursor {
  height: 3em;
  width: 3em;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
  border-radius: 50%;
  border: 2px solid #fff;
  mix-blend-mode: overlay;
}

#cursor.mini {
  background-color: rgba(31, 31, 31, 0.8);
  transform: scale(0.5);
  transition: background-color 0.3s linear, transform 0.3s linear;
}

.aboutMe {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.aboutMe__parallax {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(31%2c 31%2c 31%2c 1)'%3e%3c/rect%3e%3cpath d='M629.45 26.96L669.42 26.96L669.42 66.93L629.45 66.93z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M564.06 227.39 a50.27 50.27 0 1 0 100.54 0 a50.27 50.27 0 1 0 -100.54 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M874.46 52.83L908.19 52.83L908.19 86.56L874.46 86.56z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M270.55 144.1L320.56 144.1L320.56 191.41L270.55 191.41z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M280.38 267.5L332.04 267.5L332.04 319.16L280.38 319.16z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M303.52 382.61L324.77 382.61L324.77 437.81L303.52 437.81z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M189.43 113.48L211.14 113.48L211.14 135.19L189.43 135.19z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M94.2 355.23 a54.36 54.36 0 1 0 108.72 0 a54.36 54.36 0 1 0 -108.72 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1055.98 513.2L1083.38 513.2L1083.38 540.6L1055.98 540.6z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M494.83 443.14L528.82 443.14L528.82 477.13L494.83 477.13z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1056.77 430.93L1092.77 430.93L1092.77 481.88L1056.77 481.88z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1087.13 118.95 a11.37 11.37 0 1 0 22.74 0 a11.37 11.37 0 1 0 -22.74 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M127.06 10.01 a1.2 1.2 0 1 0 2.4 0 a1.2 1.2 0 1 0 -2.4 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M-23.07 259.2 a39.33 39.33 0 1 0 78.66 0 a39.33 39.33 0 1 0 -78.66 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M801.46 311.69L829.71 311.69L829.71 327.95L801.46 327.95z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M712.95 493.02a7.72 7.72 0 1 0 14.8-4.4z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1417.16 99.36L1454.19 99.36L1454.19 136.39L1417.16 136.39z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M715.95 443.7L716.04 443.7L716.04 443.79L715.95 443.79z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1074.12 357.68L1113.82 357.68L1113.82 397.38L1074.12 397.38z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M424.64 484.71L475.69 484.71L475.69 535.76L424.64 535.76z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1076.76 486.33L1089.09 486.33L1089.09 498.66L1076.76 498.66z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M486.44 452.49L506.55 452.49L506.55 472.6L486.44 472.6z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M527.28 474.77a23.56 23.56 0 1 0-23.8-40.67z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M253.95 148.77L261.43 148.77L261.43 203.66L253.95 203.66z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1378.57 1.66L1391.19 1.66L1391.19 51.25L1378.57 51.25z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M555.71 67.42L574.02 67.42L574.02 68.74L555.71 68.74z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M566.25 213.98a32.53 32.53 0 1 0 57.1-31.19z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M681.76 354.38L734.71 354.38L734.71 384.23L681.76 384.23z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M563.76 53.65 a4.76 4.76 0 1 0 9.52 0 a4.76 4.76 0 1 0 -9.52 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1174.86 358.83L1207.45 358.83L1207.45 391.42L1174.86 391.42z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M412.91 14.34L426.55 14.34L426.55 27.98L412.91 27.98z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1358.7 152.78L1398.14 152.78L1398.14 192.22L1358.7 192.22z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1211.95 522.37L1247.69 522.37L1247.69 525.12L1211.95 525.12z' stroke='%23037b0b'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1007%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(31%2c 31%2c 31%2c 1)'%3e%3c/rect%3e%3cpath d='M1128.42 120.63L1159.85 120.63L1159.85 122.41L1128.42 122.41z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M661.1 136.47L677.03 136.47L677.03 152.4L661.1 152.4z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1183.96 289.5a22 22 0 1 0 42.4 11.74z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1294.6 173.77 a25.01 25.01 0 1 0 50.02 0 a25.01 25.01 0 1 0 -50.02 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M42.04 246.79a28.8 28.8 0 1 0 55.96 13.68z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M618.32 43.82L636.21 43.82L636.21 58.76L618.32 58.76z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M859.56 198.49a52.22 52.22 0 1 0-8.73 104.08z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M279.37 388.84a10.99 10.99 0 1 0-14.25-16.73z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1125.38 267.23L1129.1 267.23L1129.1 270.95L1125.38 270.95z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M204.86 129.22 a26.01 26.01 0 1 0 52.02 0 a26.01 26.01 0 1 0 -52.02 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M656.53 275.16L684.97 275.16L684.97 303.6L656.53 303.6z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1184.96 368.24L1231.42 368.24L1231.42 414.7L1184.96 414.7z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1318.91 139.8a8.68 8.68 0 1 0 15.63-7.56z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M794.61 387.39 a50.09 50.09 0 1 0 100.18 0 a50.09 50.09 0 1 0 -100.18 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M18.83 78.79L62.41 78.79L62.41 122.37L18.83 122.37z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M915.87 79.91a22.12 22.12 0 1 0-38.4-21.98z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M697.4 54.06a42.83 42.83 0 1 0-29.78-80.31z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M702.77 164.76a32.34 32.34 0 1 0-21.76-60.91z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M137.75 296.27L151.83 296.27L151.83 347.81L137.75 347.81z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M465.79 300.61L504.86 300.61L504.86 311.13L465.79 311.13z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M395.98 155.63a24.45 24.45 0 1 0 41.14-26.44z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M477.57 105.92 a15.85 15.85 0 1 0 31.7 0 a15.85 15.85 0 1 0 -31.7 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1381.21 242.72L1384.84 242.72L1384.84 246.35L1381.21 246.35z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M411.56 93.07 a44.26 44.26 0 1 0 88.52 0 a44.26 44.26 0 1 0 -88.52 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1358.06 507.46L1400.81 507.46L1400.81 552.79L1358.06 552.79z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1080.8 72.29a46.15 46.15 0 1 0-82.72 40.93z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M177.95 413.16a21.17 21.17 0 1 0-31.13 28.7z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1435.16 184.43L1444.56 184.43L1444.56 193.83L1435.16 193.83z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M345.64 213.58L354.54 213.58L354.54 222.48L345.64 222.48z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M133.62 111.18 a22.64 22.64 0 1 0 45.28 0 a22.64 22.64 0 1 0 -45.28 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M145.34 329.9 a45.31 45.31 0 1 0 90.62 0 a45.31 45.31 0 1 0 -90.62 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1427.21 279.95L1477.78 279.95L1477.78 282.2L1427.21 282.2z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1049.89 513.74L1096.52 513.74L1096.52 534.69L1049.89 534.69z' fill='%23d3b714'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1007'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(31%2c 31%2c 31%2c 1)'%3e%3c/rect%3e%3cpath d='M1152.1 229.69 a15.44 15.44 0 1 0 30.88 0 a15.44 15.44 0 1 0 -30.88 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M541.03 501.31L571.17 501.31L571.17 531.45L541.03 531.45z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M-49.57 120.53 a54.88 54.88 0 1 0 109.76 0 a54.88 54.88 0 1 0 -109.76 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M449.63 541.72 a0.15 0.15 0 1 0 0.3 0 a0.15 0.15 0 1 0 -0.3 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M603.42 157.92 a22.84 22.84 0 1 0 45.68 0 a22.84 22.84 0 1 0 -45.68 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M135.98 113.11 a54.14 54.14 0 1 0 108.28 0 a54.14 54.14 0 1 0 -108.28 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M220.29 274.64 a30.56 30.56 0 1 0 61.12 0 a30.56 30.56 0 1 0 -61.12 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M612 158.99L647.64 158.99L647.64 204.98L612 204.98z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M709.27 508.06a10.21 10.21 0 1 0-18.77 8.05z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M699.48 299.46L739.86 299.46L739.86 353.63L699.48 353.63z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1422.89 173.66L1460.81 173.66L1460.81 211.58L1422.89 211.58z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M73.63 240.52a49.2 49.2 0 1 0-31.37 93.26z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M490.06 140.78a43.09 43.09 0 1 0-27.36-81.72z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M758.88 330.22 a23.17 23.17 0 1 0 46.34 0 a23.17 23.17 0 1 0 -46.34 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1194.38 230.87L1212.67 230.87L1212.67 249.16L1194.38 249.16z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1319.02 25.91L1327.05 25.91L1327.05 64.88L1319.02 64.88z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M72.26 392.04 a10.49 10.49 0 1 0 20.98 0 a10.49 10.49 0 1 0 -20.98 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M605.7 446.52L648.1 446.52L648.1 488.92L605.7 488.92z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1383.32 482.46 a27.77 27.77 0 1 0 55.54 0 a27.77 27.77 0 1 0 -55.54 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M1274.87 45.33 a34.34 34.34 0 1 0 68.68 0 a34.34 34.34 0 1 0 -68.68 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M137.38 175.79a34.35 34.35 0 1 0 57.38 37.77z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M320.62 432.41 a45.28 45.28 0 1 0 90.56 0 a45.28 45.28 0 1 0 -90.56 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M498.13 24.88a40.35 40.35 0 1 0-28.05 75.67z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M174.35 530.37L184.75 530.37L184.75 540.77L174.35 540.77z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M391.6 521.82L392.4 521.82L392.4 540.14L391.6 540.14z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M632.2 515.6 a10.7 10.7 0 1 0 21.4 0 a10.7 10.7 0 1 0 -21.4 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M658.49 397.19a4.01 4.01 0 1 0 5.84-5.5z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M62.24 372.33L84.49 372.33L84.49 385.88L62.24 385.88z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M833.76 187.89a46.87 46.87 0 1 0-90.09-25.91z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M367.72 323.78L374.26 323.78L374.26 330.32L367.72 330.32z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M473.76 483.85a8 8 0 1 0 6.19 14.75z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1314.84 113.79L1334.71 113.79L1334.71 121.57L1314.84 121.57z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M847.36 37.84a23.44 23.44 0 1 0-7.61 46.25z' stroke='%23e73635'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.aboutMe__column1 {
  width: 50%;
}
.aboutMe__column1__img {
  width: 70%;
  max-width: 500px;
  height: 100%;
  min-height: 500px;
  margin: 0 auto;
  background-image: url("../images/me.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.aboutMe__column2 {
  width: 50%;
  display: inline-block;
}
.aboutMe__column2__h1 {
  color: #fff;
  margin: 0.2em 0 0 2em;
  font-size: 4em;
  font-family: "Haettenschweiler";
  font-weight: 100;
  letter-spacing: 0.05em;
}
.aboutMe__column2__h2 {
  color: rgb(199, 199, 199);
  font-size: 2em;
  font-family: "Haettenschweiler";
  font-weight: 100;
  letter-spacing: 0.05em;
  display: inline;
  margin: 0 0 0 40%;
}
.aboutMe__column2__h2__span {
  color: var(--light-red);
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.aboutMe__column2__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  gap: 1em;
  margin: 3em 0 0 0;
  font-family: "Poppins";
}
.aboutMe__column2__buttons__button--linkedin__a {
  text-decoration: none;
  color: #fff;
  background-color: #1c52a1;
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
  box-sizing: border-box;
  display: inline;
  font-family: "Poppins";
  border: none;
  transition: 0.5s all ease;
}
.aboutMe__column2__buttons__button--linkedin__a__text {
  padding: 0.2em 0.1em 0 0;
  vertical-align: middle;
  display: inline;
}
.aboutMe__column2__buttons__button--linkedin__a__icon {
  color: #fff;
  background-color: #0A66C2;
  border-radius: 0.2em;
  padding: 0.2em 0.4em;
  display: inline;
}
.aboutMe__column2__buttons__button--linkedin__a:hover {
  cursor: none;
  background-color: #4676be;
  transition: 0.5s all ease;
}
.aboutMe__column2__buttons__button--cv__a {
  text-decoration: none;
  color: #fff;
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
  border: 2px solid #fff;
  box-sizing: border-box;
  transition: 0.5s all ease;
  font-family: "Poppins";
  background-color: transparent;
}
.aboutMe__column2__buttons__button--cv__a__text {
  float: left;
  padding: 0.2em 0.1em 0 0;
  vertical-align: middle;
}
.aboutMe__column2__buttons__button--cv__a__icon {
  background-color: #fff;
  color: #000;
  border-radius: 0.2em;
  padding: 0.2em 0.2em;
  margin: -0.2em 0 0 0.3em;
  float: right;
}
.aboutMe__column2__buttons__button--cv__a:hover {
  cursor: none;
  transition: 0.5s all ease;
  background-color: rgb(172, 172, 172);
  color: #000;
}
.aboutMe__column2__description {
  background-color: #1c1c1c;
  color: #fff;
  padding: 2em 2em;
  width: 80%;
  display: block;
  margin: 1em auto;
  font-size: 1.1em;
  border-radius: 1em;
  font-family: "Poppins";
}
.aboutMe__column2__socialMedia {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: space-between;
  gap: 1em;
  margin: 1em 5em 10em 0;
}
.aboutMe__column2__socialMedia--linkedin {
  width: 3em;
  transition: 0.5s all ease;
}
.aboutMe__column2__socialMedia--github {
  width: 2.5em;
  transition: 0.5s all ease;
}
.aboutMe__column2__socialMedia--linkedin:hover, .aboutMe__column2__socialMedia--github:hover {
  transition: 0.5s all ease;
  transform: scale(1.2);
  filter: drop-shadow(0px 0px 5px #fff);
}

.projects__h2 {
  font-family: "Poppins";
  text-align: center;
  color: var(--orange);
}
.projects__h3 {
  font-family: "Poppins";
  text-align: center;
  color: #fff;
}
.projects__container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
  align-items: normal;
  align-content: normal;
  background-color: var(--bg-color2);
  padding: 2em 3em;
  border-radius: 1em;
}
.projects__container__article {
  background-color: var(--dark-blue);
  border-radius: 1em;
  width: 20%;
  min-width: 240px;
  max-height: 70%;
}
.projects__container__article__img {
  width: 90%;
  margin: 7% 5%;
  border-radius: 1em;
}
.projects__container__article__title {
  margin: 0 0 0.5em 0;
  font-family: "Poppins";
  color: var(--orange);
  font-size: 1.2em;
  text-align: center;
}
.projects__container__article__text {
  margin: 0 0 0 1.5em;
  font-family: "Poppins";
  color: #fff;
  font-size: 0.8em;
}
.projects__container__article__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
  align-items: normal;
  align-content: normal;
  padding: 1em;
}
.projects__container__article__buttons__a--web, .projects__container__article__buttons__a--code {
  padding: 0.2em;
  background-color: #fff;
  font-family: "Poppins";
  font-weight: 600;
  border-radius: 0.5em;
  border: none;
  padding: 0.3em 1em;
  transition: 0.5s all ease;
  text-decoration: none;
  width: 40%;
  font-size: 0.8em;
  text-align: center;
  vertical-align: middle;
}
.projects__container__article__buttons__a--web:hover, .projects__container__article__buttons__a--code:hover {
  background-color: rgb(156, 156, 156);
  cursor: none;
  transition: 0.5s all ease;
}

.studies__h2 {
  font-family: "Poppins";
  text-align: center;
  color: var(--orange);
}
.studies__h3 {
  font-family: "Poppins";
  text-align: center;
  color: #fff;
}
.studies__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 30%);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-row-gap: 5em;
  width: 85%;
  background-color: var(--bg-color2);
  padding: 2em;
  margin: 0 5%;
  border-radius: 1em;
}
.studies__container__column1 {
  grid-area: 1/2/2/3;
}
.studies__container__column1__h4, .studies__container__column1__h6--date, .studies__container__column1__h5, .studies__container__column1__h6 {
  color: #fff;
  font-family: "Poppins";
}
.studies__container__column2 {
  grid-area: 2/1/3/2;
}
.studies__container__column3 {
  grid-area: 2/2/3/3;
  margin: 0 auto;
  background-image: url("../images/studies_circle.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
.studies__container__column4 {
  grid-area: 2/3/3/4;
}
.studies__container__column1, .studies__container__column2, .studies__container__column4 {
  padding: 0.2em;
  margin: 0;
  text-align: left;
}

.contact {
  width: 100%;
}
.contact__h2 {
  font-family: "Poppins";
  text-align: center;
  color: var(--orange);
}
.contact__h3 {
  font-family: "Poppins";
  text-align: center;
  color: #fff;
}
.contact__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5em;
  justify-content: center;
  align-items: normal;
  align-content: normal;
  width: 85%;
  background-color: var(--bg-color2);
  margin: 0 auto;
  border-radius: 1em;
}
.contact__container__column1 {
  width: 40%;
}
.contact__container__column1__icon {
  fill: var(--dark-blue);
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
}
.contact__container__column1__h4 {
  color: #fff;
  font-family: "Poppins";
  text-align: center;
}
.contact__container__column2 {
  width: 45%;
}
.contact__container__column2__form {
  width: 70%;
  margin: 2em auto;
  background-color: var(--bg-color2);
}
.contact__container__column2__form__name, .contact__container__column2__form__email, .contact__container__column2__form__message, .contact__container__column2__form__send {
  margin: 0 auto;
  padding: 0.5em;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: normal;
  align-content: normal;
}
.contact__container__column2__form__name__label, .contact__container__column2__form__email__label, .contact__container__column2__form__message__label, .contact__container__column2__form__send__label {
  padding: 0 1em;
  color: var(--orange);
  font-family: "Poppins";
  text-align: center;
  width: 100%;
  cursor: none;
}
.contact__container__column2__form__name__input, .contact__container__column2__form__name__textarea, .contact__container__column2__form__email__input, .contact__container__column2__form__email__textarea, .contact__container__column2__form__message__input, .contact__container__column2__form__message__textarea, .contact__container__column2__form__send__input, .contact__container__column2__form__send__textarea {
  padding: 0.5em 1em;
  color: var(--orange);
  font-family: "Poppins";
  background-color: var(--dark-blue);
  border: none;
  border-radius: 1em;
  width: 50%;
  resize: none;
  cursor: none;
}
.contact__container__column2__form__name__button, .contact__container__column2__form__email__button, .contact__container__column2__form__message__button, .contact__container__column2__form__send__button {
  margin: 2em auto;
  padding: 1em 2.5em;
  border-radius: 1em;
  border: none;
  background-color: var(--orange);
  color: #fff;
  font-family: "Poppins";
  cursor: none;
  transition: all 0.5s ease;
}
.contact__container__column2__form__name__button:hover, .contact__container__column2__form__email__button:hover, .contact__container__column2__form__message__button:hover, .contact__container__column2__form__send__button:hover {
  filter: brightness(1.5);
  cursor: none;
  transition: all 0.5s ease;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  gap: 7em;
  padding: 2em 0;
}
.footer__social__nav__item {
  float: left;
}
.footer__social__nav__item__a {
  text-decoration: none;
  color: #fff;
  padding: 0.5em;
  font-family: "Poppins";
  transition: all 0.5s ease;
}
.footer__social__nav__item__a:hover {
  color: var(--orange);
  transition: all 0.5s ease;
}
.footer__copyright {
  color: #fff;
  font-family: "Poppins";
}

::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fd934c;
}

@media (max-width: 800px) {
  .aboutMe {
    flex-direction: column;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    background-position: center;
  }
  .aboutMe__column1 {
    width: 100%;
    height: 50%;
    max-height: 400px;
  }
  .aboutMe__column2 {
    width: 100%;
  }
  .aboutMe__column2__h1 {
    font-size: 3em;
    margin: 0.5em 0 0 2em;
  }
  .aboutMe__column2__h2 {
    font-size: 2em;
    margin: 0 0 0 30%;
  }
  .aboutMe__column2__buttons {
    margin: 1em 0 0 0;
  }
  .aboutMe__column2__description {
    padding: 2em 2em;
    margin: 2em auto;
  }
  .studies {
    font-family: "Poppins";
    text-align: center;
    color: #fff;
  }
  .studies__h2 {
    font-family: "Poppins";
    text-align: center;
    color: var(--orange);
  }
  .studies__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 0em;
    padding-bottom: 10em;
  }
  .studies__container__column1 {
    grid-area: 1/1/2/2;
  }
  .studies__container__column2 {
    grid-area: 2/1/3/2;
  }
  .studies__container__column3 {
    display: none;
  }
  .studies__container__column4 {
    grid-area: 3/1/4/2;
  }
  .footer {
    gap: 1em;
  }
  .footer__social__a {
    text-decoration: none;
    color: #fff;
    padding: 0.5em;
    display: block;
  }
  .contact {
    width: 100%;
  }
  .contact__h2 {
    font-family: "Poppins";
    text-align: center;
    color: var(--orange);
  }
  .contact__h3 {
    font-family: "Poppins";
    text-align: center;
    color: #fff;
  }
  .contact__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: center;
    align-items: normal;
    align-content: normal;
    width: 85%;
    background-color: var(--bg-color2);
    margin: 0 auto;
    border-radius: 1em;
  }
  .contact__container__column1, .contact__container__column2 {
    width: 100%;
  }
  .contact__container__column1__icon {
    width: 40%;
  }
  .contact__container__column2__form {
    width: 90%;
  }
  .contact__container__column2__form__name__input, .contact__container__column2__form__name__textarea, .contact__container__column2__form__email__input, .contact__container__column2__form__email__textarea, .contact__container__column2__form__message__input, .contact__container__column2__form__message__textarea, .contact__container__column2__form__send__input, .contact__container__column2__form__send__textarea {
    width: 90%;
  }
}

/*# sourceMappingURL=style.css.map */
